
@import "./../../scss/mixin.scss";
:host{
    width: 100%;
    height: 90%;
    position: absolute;
    border: 1px solid #b8b6b6;
    width: 98%;
    height: 88%;
    @include shadow(1px 1px 3px 3px #C6D0D3);
}